/* Body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  /* Container */
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Set the height to full viewport height */
  }
  
  /* Logo */
  .logo {
    display: block;
    margin: 20px auto; /* Center the logo horizontally */
  width: 400px; /* Set the width of the logo */
  margin-top: 0%;
  }
  
  /* Login Container */
  .login-container {
    background-color: #fff;
    width: 350px; /* Increase the width of the container */
    margin: 20px auto; /* Center the container horizontally */
    padding: 30px; /* Increase the padding of the container */
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Form */
  #loginForm {
    text-align: center;
  }
  
  /* Labels */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Text inputs */
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 /* Submit button */
button[type="submit"] {
    background-color: #ea2c2c;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.3s; /* Add transition effect for box-shadow */
  }
  
  /* Shadow effect on hover */
  button[type="submit"]:hover {
    background-color: #f65454;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow effect on hover */
  }
  
  
  /* Signup link */
  h3 {
    text-align: center;
    margin-top: 20px;
  }
  
  h3 a {
    color: #0091bd;
    text-decoration: none;
  }
  
  h3 a:hover {
    text-decoration: underline;
  }
  /* Sign in heading */
h2 {
  color: #4d2d52; /* Deep purple */
  font-family: 'Garamond', serif; /* Fancy serif font */
  font-size: 36px; /* Larger font size */
  text-align: center;
  margin-top: 50px; /* Adjust as needed */
  text-transform: uppercase; /* Uppercase text */
  text-decoration: underline;
  }
  
  /* Signup link */
  h3 {
    font-size: 20px; /* Increase the font size of h3 */
    text-align: center;
    margin-top: 20px;
  }
  